
.button {
    background: var(--color-earth);
    border-radius: 4px;
    font-family: var(--font-title);
    font-size: 1rem;
    color:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;

}

.button:hover {
    background: var(--color-black);
    border: none;
}

.button-sm{
    width:140px ;
    height: 60px;

}

.button-md{
    width: 160px;
    height: 60px;

}

.button-lg {
    width: 250px;
    height: 60px;

}

.nav-button {
    @apply w-[140px] h-[60px] bg-earth rounded-3xl font-title text-white  flex flex-col justify-center items-center hover:bg-black
}


